In [8]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib import rc
import matplotlib as mpl

plt.style.use('ggplot')
pd.options.display.width = 0

sns.set_style("whitegrid", {"grid.color": "#cbd2d9"})

mpl.rcParams['font.size'] = 12
mpl.rcParams['axes.facecolor'] = '#eeede9'
mpl.rcParams['figure.facecolor'] = '#eeede9'

rc('font',**{'family':'sans-serif','sans-serif':['DM Sans']})
rc('text', usetex=True)

In [4]:
freq_read_df = pd.read_csv('reading-data/clean/frequency-of-read.csv')

In [20]:
freq_read_df

            age   region      frequencies  male_read  female_read
0        6 - 14  Bangkok            Daily     168272     178217.0
1       15 - 24  Bangkok            Daily     399372     388568.0
2       25 - 39  Bangkok            Daily     943768    1054825.0
3       40 - 59  Bangkok            Daily     932599     934143.0
4   60 and over  Bangkok            Daily     241798     269489.0
5        6 - 14  Bangkok  4 - 6 days/week      96940      69225.0
6       15 - 24  Bangkok  4 - 6 days/week      49932      50044.0
7       25 - 39  Bangkok  4 - 6 days/week     150570     154079.0
8       40 - 59  Bangkok  4 - 6 days/week     159777     187699.0
9   60 and over  Bangkok  4 - 6 days/week      47049      53064.0
10       6 - 14  Bangkok  2 - 3 days/week      33388      30259.0
11      15 - 24  Bangkok  2 - 3 days/week      19605      16039.0
12      25 - 39  Bangkok  2 - 3 days/week     125009     106697.0
13      40 - 59  Bangkok  2 - 3 days/week     132823     146201.0
14  60 and over  Bangkok  2 - 3 days/week      59253      83237.0
15       6 - 14  Bangkok       1 day/week        704       1745.0
16      15 - 24  Bangkok       1 day/week       1311          NaN
17      25 - 39  Bangkok       1 day/week       5348       3632.0
18      40 - 59  Bangkok       1 day/week      13870      14959.0
19  60 and over  Bangkok       1 day/week      10408      17437.0
20       6 - 14  Bangkok     Occasionally       3576          NaN
21      15 - 24  Bangkok     Occasionally       2001       7669.0
22      25 - 39  Bangkok     Occasionally      20630      19195.0
23      40 - 59  Bangkok     Occasionally      51603      67321.0
24  60 and over  Bangkok     Occasionally      47159      43544.0

In [5]:
melted_df = pd.melt(freq_read_df, id_vars=['age', 'region', 'frequencies'], 
                    value_vars=['male_read', 'female_read'], 
                    var_name='gender', value_name='read_amount')

# Replace 'male_read' and 'female_read' with 'Male' and 'Female' in the 'gender' column
melted_df['gender'] = melted_df['gender'].replace({'male_read': 'Male', 'female_read': 'Female'})

In [38]:
melted_df

            age   region      frequencies  gender  read_amount
0        6 - 14  Bangkok            Daily    Male     168272.0
1       15 - 24  Bangkok            Daily    Male     399372.0
2       25 - 39  Bangkok            Daily    Male     943768.0
3       40 - 59  Bangkok            Daily    Male     932599.0
4   60 and over  Bangkok            Daily    Male     241798.0
5        6 - 14  Bangkok  4 - 6 days/week    Male      96940.0
6       15 - 24  Bangkok  4 - 6 days/week    Male      49932.0
7       25 - 39  Bangkok  4 - 6 days/week    Male     150570.0
8       40 - 59  Bangkok  4 - 6 days/week    Male     159777.0
9   60 and over  Bangkok  4 - 6 days/week    Male      47049.0
10       6 - 14  Bangkok  2 - 3 days/week    Male      33388.0
11      15 - 24  Bangkok  2 - 3 days/week    Male      19605.0
12      25 - 39  Bangkok  2 - 3 days/week    Male     125009.0
13      40 - 59  Bangkok  2 - 3 days/week    Male     132823.0
14  60 and over  Bangkok  2 - 3 days/week    Male      59253.0
15       6 - 14  Bangkok       1 day/week    Male        704.0
16      15 - 24  Bangkok       1 day/week    Male       1311.0
17      25 - 39  Bangkok       1 day/week    Male       5348.0
18      40 - 59  Bangkok       1 day/week    Male      13870.0
19  60 and over  Bangkok       1 day/week    Male      10408.0
20       6 - 14  Bangkok     Occasionally    Male       3576.0
21      15 - 24  Bangkok     Occasionally    Male       2001.0
22      25 - 39  Bangkok     Occasionally    Male      20630.0
23      40 - 59  Bangkok     Occasionally    Male      51603.0
24  60 and over  Bangkok     Occasionally    Male      47159.0
25       6 - 14  Bangkok            Daily  Female     178217.0
26      15 - 24  Bangkok            Daily  Female     388568.0
27      25 - 39  Bangkok            Daily  Female    1054825.0
28      40 - 59  Bangkok            Daily  Female     934143.0
29  60 and over  Bangkok            Daily  Female     269489.0
30       6 - 14  Bangkok  4 - 6 days/week  Female      69225.0
31      15 - 24  Bangkok  4 - 6 days/week  Female      50044.0
32      25 - 39  Bangkok  4 - 6 days/week  Female     154079.0
33      40 - 59  Bangkok  4 - 6 days/week  Female     187699.0
34  60 and over  Bangkok  4 - 6 days/week  Female      53064.0
35       6 - 14  Bangkok  2 - 3 days/week  Female      30259.0
36      15 - 24  Bangkok  2 - 3 days/week  Female      16039.0
37      25 - 39  Bangkok  2 - 3 days/week  Female     106697.0
38      40 - 59  Bangkok  2 - 3 days/week  Female     146201.0
39  60 and over  Bangkok  2 - 3 days/week  Female      83237.0
40       6 - 14  Bangkok       1 day/week  Female       1745.0
41      15 - 24  Bangkok       1 day/week  Female       1745.0
42      25 - 39  Bangkok       1 day/week  Female       3632.0
43      40 - 59  Bangkok       1 day/week  Female      14959.0
44  60 and over  Bangkok       1 day/week  Female      17437.0
45       6 - 14  Bangkok     Occasionally  Female      17437.0
46      15 - 24  Bangkok     Occasionally  Female       7669.0
47      25 - 39  Bangkok     Occasionally  Female      19195.0
48      40 - 59  Bangkok     Occasionally  Female      67321.0
49  60 and over  Bangkok     Occasionally  Female      43544.0

In [6]:
melted_df.fillna(method='ffill', inplace=True)

In [11]:
grouped_data = melted_df.groupby(['age', 'gender', 'frequencies'])['read_amount'].sum().reset_index()

In [17]:
pivot_table = melted_df.pivot_table(index=['age', 'gender', 'region'], columns='frequencies', values='read_amount', fill_value=0)

In [18]:
pivot_table

frequencies                 1 day/week  2 - 3 days/week  4 - 6 days/week  \
age         gender region
15 - 24     Female Bangkok        1745            16039            50044
            Male   Bangkok        1311            19605            49932
25 - 39     Female Bangkok        3632           106697           154079
            Male   Bangkok        5348           125009           150570
40 - 59     Female Bangkok       14959           146201           187699
            Male   Bangkok       13870           132823           159777
6 - 14      Female Bangkok        1745            30259            69225
            Male   Bangkok         704            33388            96940
60 and over Female Bangkok       17437            83237            53064
            Male   Bangkok       10408            59253            47049

frequencies                   Daily  Occasionally
age         gender region
15 - 24     Female Bangkok   388568          7669
            Male   Bangkok   399372          2001
25 - 39     Female Bangkok  1054825         19195
            Male   Bangkok   943768         20630
40 - 59     Female Bangkok   934143         67321
            Male   Bangkok   932599         51603
6 - 14      Female Bangkok   178217         17437
            Male   Bangkok   168272          3576
60 and over Female Bangkok   269489         43544
            Male   Bangkok   241798         47159

In [1]:
def format_thousands(x, pos):
    if x >= 1000:
        return f'{x / 1000:.0f}k'
    else:
        return int(x)

In [ ]:
pivot_table.plot(kind='bar', stacked=True)
plt.gca().yaxis.set_major_formatter(ticker.FuncFormatter(format_thousands))

# Customize the plot
plt.xlabel('Age Group')
plt.ylabel('Frequencies')
plt.title('Male and Female Frequencies by Age Group')
plt.legend()

# Show the plot
plt.show()